**
!Dockerfile
!composer.json
!composer.lock
!artisan
!bootstrap/**
!config/**
!routes/**
!database/**
bootstrap/cache/*.php
!app/**
!public/**
!resources/**
!docker/**
!tests/**
public/uploads
public/storage
**/.env*
**/*.log
